// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  text-align: center;
  display: flex;
  justify-content:space-around;
  background-color: lightblue;
  text-decoration: none;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}
